<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
</head>

<body>
<header>
    <!-- place navbar here -->
</header>
<main>
    <div class="card">
        <div class="card-body">
            <div>
                <h2>
                    <span>Đơn thuốc của: </span>
                    <span th:text="${medicalRecord.patient.name}"></span>
                </h2>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Thuốc</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:unless="${prescriptionList.isEmpty()}" th:each="item, itemStatus : ${prescriptionList}">
                    <th scope="row">
                        <p th:text="${itemStatus.count}"></p>
                    </th>
                    <td>
                        <p th:text="${item.medicine.name}"></p>
                    </td>
                    <td>
                        <p th:text="${item.quantity}"></p>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary">Sửa</button>
<!--                        <button class="btn btn-outline-secondary">Chi tiết</button>-->
                        <button class="btn btn-outline-danger">Xóa</button>
                    </td>
                </tr>
                <tr th:if="${prescriptionList.isEmpty()}">
                    <td colspan="4" class="text-center">Danh sách trống</td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <a class="btn btn-success" href="/prescription/form">Thêm thuốc</a>
                <a class="btn btn-primary" href="/prescription/confirm">Xác nhận</a>
            </div>
        </div>
    </div>

</main>
<footer>
    <!-- place footer here -->
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>